{% extends 'base.html' %}

{% block content %}

    <script>
        if (document.getElementById("nav_home").getAttribute("class")=="active")
            document.getElementById("nav_home").removeAttribute("class");
        document.getElementById("nav_words").setAttribute("class", "active");
    </script>

    <div class="alert alert-info">
{#        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">x</a>#}
        Words Browsing Mode
    </div>

    <div class="jumbotron">
        <h1 id="word" word_id={{word.id}} >{{word}}</h1>
{#        <p>word: {{word}}</p>#}
        <p id="dec">description: {{word.desc}}</p>
        <p id="sen">sentence: {{word.sentence}}</p>
        <p id="ctr_btn">
            <button id="pre" type="button" class="btn btn-primary">Previous</button>
            <button id="next" type="button" class="btn btn-primary">Next</button>
        </p>
    </div>

{#    <a class='btn btn-info' href="/words">All Words</a>#}

    {% include "duoshuo.html" %}

{% endblock %}
