{% extends 'base.html' %}

{% block content %}

    <script>
        if (document.getElementById("nav_home").getAttribute("class")=="active")
            document.getElementById("nav_home").removeAttribute("class");
        document.getElementById("nav_words").setAttribute("class", "active");
    </script>


    <div class="jumbotron">
        <h1> Words </h1>
        <p>
        {% for word in word_list %}
            <a href="{%  url 'word_detail'  word_name=word.text %}">
                {{ word }}
            </a>
        {% endfor %}
        </p>
    </div>

{% endblock %}