{% extends 'base.html' %}

{% block content %}

    <script>
        if (document.getElementById("nav_home").getAttribute("class")=="active")
            document.getElementById("nav_home").removeAttribute("class");
        document.getElementById("nav_words").setAttribute("class", "active");
    </script>

    <div class="jumbotron">
        <h1>{{word}}</h1>
{#        <p>word: {{word}}</p>#}
        <p>description: {{word.desc}}</p>
        <p>sentence: {{word.sentence}}</p>
    </div>

    {% include "duoshuo.html" %}

{% endblock %}
